.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all{
  height: 95vh;
  background-color: aqua;
}




.maincomp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.card{
  margin-bottom: 14px;
  border: 2px solid black;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.title{
  font-size: 36px;
  font-weight: bold;
}

.img{
  width: 100%;
  height: 35vh;
}

.body{
  height: 20vh;
  width: 90%;
  margin-bottom: 20px;
}

.readbtn{
  background-color: greenyellow;
  padding: 10px 8px;
  cursor: pointer;
}

.body{
  border: none;
  text-align: center;
  font-size: 16px;
  height: auto;
  overflow: hidden;
  resize: none;
}

.secondcompo{
  width: 100%;
  height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.innercompo{
width: 60%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.innercompo h1{
  font-size: 50px;
  text-align: center;
}

.buttoncompo{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.logincompo{
  background-color: blue;
  color: white;
  padding: 12px 8px;
  width: 25%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.logincompo:hover{
    transform: scale(1.25) perspective(1px)
}

.signupcompo{
  padding: 12px 8px;
  width: 25%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.signupcompo:hover{
  transform: scale(1.25) perspective(1px)

}